/**
 * @author    BOX http://box.agency
 * @contact   admin@box.agency
 */
/* ==========================================================================
   Base Styles
   ========================================================================== */
img {
  max-width: 100%; }

textarea {
  resize: vertical; }

.row.no-gutter {
  margin-right: 0;
  margin-left: 0; }

.row.no-gutter > [class^="col-"],
.row.no-gutter > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0; }

.sweet-alert h2 {
  font-size: 26px; }

.sweet-alert p {
  font-size: 14px; }

a, button {
  text-decoration: none;
  transition: all 200ms ease-out; }

button:active,
button:hover,
button:focus,
a:active,
a:hover,
a:focus {
  outline: none !important; }

.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%; }
  .loader .spinner {
    width: 70px;
    height: 22px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; }
    .loader .spinner > div {
      width: 18px;
      height: 18px;
      background-color: #333;
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
      animation: bouncedelay 1.4s infinite ease-in-out;
      /* Prevent first frame from flickering when animation starts */
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both; }
    .loader .spinner .bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s; }
    .loader .spinner .bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s; }

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1); } }

/**
 * Outdated Browser Alert
 */
.outdated-browser {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  font-family: helvetica, Arial;
  text-align: center;
  text-transform: uppercase;
  background-color: #f25648;
  color: #ffffff;
  border-radius: 0;
  margin-bottom: 0; }
  .outdated-browser h6 {
    font-size: 25px;
    line-height: 25px;
    margin: 0 0 10px; }
  .outdated-browser p {
    font-size: 12px;
    line-height: 12px;
    margin: 0; }
  .outdated-browser .update-btn {
    display: block;
    position: relative;
    padding: 10px 20px;
    margin: 30px auto 0;
    width: 230px;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #ffffff;
    cursor: pointer; }
    .outdated-browser .update-btn:hover {
      color: #f25648;
      background-color: #ffffff; }
  .outdated-browser .close-btn {
    position: absolute;
    top: 10px;
    right: 25px;
    text-decoration: none;
    color: #ffffff;
    font-size: 36px;
    line-height: 1; }

/**
 * Helper Variables & Functions
 */
@font-face {
  font-family: 'philosopher';
  src: url("../fonts/philosopher-bold-webfont.eot");
  src: url("../fonts/philosopher-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/philosopher-bold-webfont.woff2") format("woff2"), url("../fonts/philosopher-bold-webfont.woff") format("woff"), url("../fonts/philosopher-bold-webfont.ttf") format("truetype"), url("../fonts/philosopher-bold-webfont.svg#philosopherbold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'philosopher';
  src: url("../fonts/philosopher-bolditalic-webfont.eot");
  src: url("../fonts/philosopher-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/philosopher-bolditalic-webfont.woff2") format("woff2"), url("../fonts/philosopher-bolditalic-webfont.woff") format("woff"), url("../fonts/philosopher-bolditalic-webfont.ttf") format("truetype"), url("../fonts/philosopher-bolditalic-webfont.svg#philosopherbold_italic") format("svg");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'philosopher';
  src: url("../fonts/philosopher-italic-webfont.eot");
  src: url("../fonts/philosopher-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/philosopher-italic-webfont.woff2") format("woff2"), url("../fonts/philosopher-italic-webfont.woff") format("woff"), url("../fonts/philosopher-italic-webfont.ttf") format("truetype"), url("../fonts/philosopher-italic-webfont.svg#philosopheritalic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'philosopher';
  src: url("../fonts/philosopher-regular-webfont.eot");
  src: url("../fonts/philosopher-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/philosopher-regular-webfont.woff2") format("woff2"), url("../fonts/philosopher-regular-webfont.woff") format("woff"), url("../fonts/philosopher-regular-webfont.ttf") format("truetype"), url("../fonts/philosopher-regular-webfont.svg#philosopherregular") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body {
  height: 100%; }

body {
  font: 1.4em/1.4 "philosopher", helvetica, arial, sans-serif;
  color: #222;
  background: #208e44 url(../img/bg.jpg) no-repeat;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  height: 100%; }

::-moz-selection {
  background: #FFF;
  color: #00813e;
  text-shadow: none; }

::selection {
  background: #FFF;
  color: #00813e;
  text-shadow: none; }

a {
  color: #017337;
  text-decoration: none; }
  a:hover, a:focus {
    color: #01401f; }

#products-video {
  opacity: 0; }

.desktop, .mobile {
  display: none;
  height: 100%; }

.desktop-user .desktop {
  display: block;
  width: 720px;
  height: 405px;
  margin: 0 auto;
  overflow: hidden; }

.mobile-user {
  background: #1e652f url(../img/bg-mobile.png) no-repeat left top !important;
  min-height: 500px; }
  .mobile-user .mobile {
    display: block; }
    .mobile-user .mobile .products-btn {
      margin-top: 160px;
      width: 270px;
      display: none;
      background: none !important; }
    .mobile-user .mobile .start-btn {
      margin-top: 10px;
      background-image: url(../img/start-btn-mobile.png);
      border-radius: 0; }

/* ==========================================================================
   Layout Styles
   ========================================================================== */
.main {
  position: relative;
  height: 100%; }

.left-side {
  width: 254px;
  height: 100%;
  float: left;
  position: relative;
  z-index: 100000;
  background: url(../img/bg-top-left-side.png) no-repeat left top, url(../img/bg-bottom-left-side.png) no-repeat left bottom; }
  .left-side .copyright {
    color: #FFF;
    position: absolute;
    bottom: 0;
    left: 20px; }

.social-footer {
  position: absolute;
  z-index: 100000;
  bottom: 0;
  right: 0;
  background: url(../img/triangle-shape-bottom.png) -56px;
  width: 118px;
  height: 129px; }
  .social-footer .links {
    position: absolute;
    bottom: 5px;
    right: 10px; }
  .social-footer a {
    color: #47634e;
    font-family: helvetica, arial, sans-serif;
    font-size: 25px;
    margin-right: 15px; }
    .social-footer a:hover {
      color: #5c8165; }

/* ==========================================================================
   Sites
   ========================================================================== */
.start-btn {
  width: 161px;
  height: 45px;
  text-indent: -9999px;
  background-color: #fff;
  margin: -30px auto 0;
  display: block;
  background: url(../img/start-btn.png) no-repeat; }
  .start-btn:hover {
    -webkit-transform: scale(0.96);
    transform: scale(0.96); }

.products-btns {
  display: none; }

.landing-page .title-intro {
  width: 503px;
  height: 335px;
  margin: 150px auto 0; }

.products-page .content {
  width: 100% !important;
  height: 100% !important; }

.products-page .products-btn {
  width: 295px;
  height: 75px;
  margin: 20px;
  background-position: center;
  background-repeat: no-repeat,no-repeat;
  -webkit-transform: scale(0.8) !important;
  transform: scale(0.8) !important;
  border-radius: 0;
  position: absolute; }
  .products-page .products-btn:hover {
    -webkit-transform: scale(0.9) !important;
    transform: scale(0.9) !important; }

.products-page .products-btn:first-child {
  top: 17.5%;
  left: 4.5%; }

.products-page .products-btn:nth-child(2) {
  top: 33.9%;
  left: 4.5%; }

.products-page .products-btn:nth-child(3) {
  top: 50.9%;
  left: 4.5%; }

.products-page .products-btn:nth-child(4) {
  top: 67.9%;
  left: 4.5%; }

.el3omra .title-intro {
  background: url(../img/omra.png); }

.el3omra .el3omra-btns {
  display: block !important; }

.el3omra .products-btn:first-child {
  background: url(../img/btn/omra-1.png) center no-repeat, url(../img/big-btn.png) right;
  top: 33.9%;
  left: 4.5%; }

.el3omra .products-btn:nth-child(2) {
  background: url(../img/btn/omra-2.png) center no-repeat, url(../img/big-btn.png) right;
  top: 50.9%;
  left: 4.5%; }

.elkarhba .title-intro {
  background: url(../img/krehba.png); }

.elkarhba .elkarhba-btns {
  display: block !important; }

.elkarhba .products-btn:first-child {
  background: url(../img/btn/karehba-1.png) center no-repeat, url(../img/big-btn.png) right; }

.elkarhba .products-btn:nth-child(2) {
  background: url(../img/btn/karehba-2.png) center no-repeat, url(../img/big-btn.png) right; }

.elkarhba .products-btn:nth-child(3) {
  background: url(../img/btn/karehba-3.png) center no-repeat, url(../img/big-btn.png) right; }

.elkarhba .products-btn:nth-child(4) {
  background: url(../img/btn/karehba-4.png) center no-repeat, url(../img/big-btn.png) right; }

.elwa9t .title-intro {
  background: url(../img/elwa9it.png); }

.elwa9t .elwa9t-btns {
  display: block  !important; }

.elwa9t .products-btn:first-child {
  background: url(../img/btn/tawa-light.png) center no-repeat, url(../img/big-btn.png) right;
  top: 33.9%;
  left: 4.5%; }

.elwa9t .products-btn:nth-child(2) {
  background: url(../img/btn/tawa-pro.png) center no-repeat, url(../img/big-btn.png) right;
  top: 50.9%;
  left: 4.5%; }

.eddar .title-intro {
  background: url(../img/eldar.png); }

.eddar .eddar-btns {
  display: block  !important; }

.eddar .products-btn:first-child {
  background: url(../img/btn/dar-1.png) center no-repeat, url(../img/big-btn.png) right; }

.eddar .products-btn:nth-child(2) {
  background: url(../img/btn/dar-2.png) center no-repeat, url(../img/big-btn.png) right; }

.eddar .products-btn:nth-child(3) {
  background: url(../img/btn/dar-3.png) center no-repeat, url(../img/big-btn.png) right; }

.elmosta9bel .title-intro {
  background: url(../img/mosta9bil.png); }

.elmosta9bel .elmosta9bel-btns {
  display: block  !important; }

/* ==========================================================================
   Form Page
   ========================================================================== */
#signup-form {
  width: 340px;
  left: 50px;
  top: -14px;
  background-color: rgba(1, 115, 55, 0.5);
  padding: 20px 40px 10px 40px;
  position: relative;
  color: #fff; }
  #signup-form h1 {
    font-size: 27px;
    margin: 0;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: uppercase; }
  #signup-form p {
    font-size: 14px;
    opacity: 0.8; }
  #signup-form .form-group {
    margin-bottom: 9px; }
  #signup-form .input-text {
    border-radius: 0px;
    border: none;
    border-left: 7px solid #017337;
    width: 250px;
    height: 30px;
    color: #284a1a;
    font-size: 13px;
    box-shadow: none; }
    #signup-form .input-text:focus {
      border-left-color: #e7e614; }
  #signup-form .submit-form {
    background: transparent url(../img/btn-submit.png) no-repeat;
    width: 116px;
    height: 34px;
    border: none;
    text-indent: -99999px;
    float: right;
    margin-right: 10px; }
    #signup-form .submit-form:hover {
      -webkit-transform: scale(1.03);
      transform: scale(1.03); }

.fb-page {
  top: 61%;
  position: absolute;
  display: block;
  left: 50px; }

/* ==========================================================================
   Module Styles
   ========================================================================== */
.pages {
  height: 100%; }

.page {
  margin: auto;
  z-index: 10;
  display: none;
  width: 100%;
  height: 100%; }
  .page .video-page {
    z-index: 9; }
  .page .content {
    width: 800px;
    margin: 0 auto;
    position: relative;
    z-index: 100;
    height: 100%; }

.video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; }

#form-video {
  opacity: 0; }

.products-btn {
  display: none; }

.btns-services {
  right: 14%;
  bottom: 20px;
  position: absolute;
  min-width: 800px;
  width: 68%;
  z-index: 10000;
  display: none; }

.service-btn {
  width: 104px;
  height: 72px;
  background-color: #53BB39;
  border: 1px solid #F0FF18;
  display: block;
  float: right;
  margin: 0 0.7%;
  background-position: center;
  background-repeat: no-repeat; }
  .service-btn:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    background-color: #006131; }

.service-btn.dar {
  background-image: url(../img/btn-srv-manzel.png); }

.service-btn.car {
  background-image: url(../img/btn-srv-sayara.png); }

.service-btn.omra {
  background-image: url(../img/btn-srv-omra.png); }

.service-btn.tawfir {
  background-image: url(../img/btn-srv-hisab.png); }

.service-btn.tawasol {
  background-image: url(../img/btn-srv-tawasol.png); }

#mobile-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

/*# sourceMappingURL=main.css.map */